<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlantUML" value="C:\Users\thb\Desktop\Plant\"/>
    <add key="TempFileStorage" value="C:\Windows\Temp\"/>
    <add key="JavaPath" value="C:\Program Files (x86)\Java\jre7\bin\java.exe"/>
  </appSettings>
</configuration>