<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WatchFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PlantUML" value="C:\Users\thb\Desktop\Plant\plantuml.jar"/>
    <add key="JavaExecutable" value="C:\Program Files (x86)\Java\jre7\bin\java.exe"/>
    <add key="TempFileDir" value="C:\Users\thb\Desktop\Plant\"/>
  </appSettings>
  <userSettings>
    <WatchFile.Properties.Settings>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfRecentFiles" serializeAs="String">
        <value>5</value>
      </setting>
    </WatchFile.Properties.Settings>
  </userSettings>
</configuration>