<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlantUMLFileWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WatchFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PlantUML" value="C:\\PlantUML\\plantuml.jar" />
    <add key="JavaExecutable" value="C:\\Program Files (x86)\\Java\\jre7\\bin\\java.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <PlantUMLFileWatcher.Properties.Settings>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfRecentFiles" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ProjectHomePage" serializeAs="String">
        <value>http://code.google.com/p/plant-uml-file-watcher/</value>
      </setting>
      <setting name="PlantUMLHomePage" serializeAs="String">
        <value>http://plantuml.sourceforge.net/</value>
      </setting>
    </PlantUMLFileWatcher.Properties.Settings>
    <WatchFile.Properties.Settings>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfRecentFiles" serializeAs="String">
        <value>5</value>
      </setting>
    </WatchFile.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>