<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlantUML" value="C:\Users\thb\Desktop\Plant\plantuml.jar"/>
    <add key="JavaExecutable" value="C:\Program Files (x86)\Java\jre7\bin\java.exe"/>
    <add key="TempFileDir" value="C:\Users\thb\Desktop\Plant\"/>
  </appSettings>
</configuration>